<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myceto.com</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body class="index">
    <div class="both-center">
        <div>
            <section>
                <img src="/favicon.png" alt="myceto.com">
                <h1>myceto.com</h1>
                <p>We build websites and web applications.</p>
            </section>
            <footer>
                <p>&copy; myceto.com 2016.</p>
            </footer>
        </div>
    </div>
</body>
</html>
