@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700|Noto+Sans:400,700);

.both-center {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.index {
    img {
        margin: 0 0 2rem;
        width: 150px;
    }

    section {
        margin: 0 0 4rem;
        text-align: center;

        h1 {
            margin: 0 0 .5rem;
        }
    }

    footer {
        font-family: Helvetica, sans-serif;
        text-align: center;
    }
}
